{% extends "people/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load sekizai_tags %}
{% load compress %}

{% block content %}

{% addtoblock "css" %}
<style type="text/x-scss">
@import 'people/css/account.scss';
</style>
{% endaddtoblock %}

<div class="container" style="text-align: center;">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-6">
        {% block account_content %}
        {% endblock account_content %}
    </div>
  </div>
</div>

{% endblock content%}

