{% extends "account/base.html" %}

{% load i18n account sekizai_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block account_content %}

<div class="row"><div class="col">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <br>
</div></div>

<div class="row"><div class="col">

    <p>{% trans "Enter your e-mail address and we'll send you a reset link." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" id="form">
        {% csrf_token %}

          {% for field in form %}
          <div class="form-group row justify-content-end">
              
              {{ field.label_tag }}
              <div class="col-sm-12 col-md-10">{{ field }}</div>
              {% if field.help_text %}
              <div class="col-sm-12 col-md-10">
              <small class="form-text text-muted">{{ field.help_text|safe }}</small>
              </div>
              {% endif %}
              {% if field.errors %}
              <div class="col-sm-12 col-md-10">
              {{ field.errors }}
              </div>
              {% endif %}              
          </div>
          {% endfor %}

        <div class="row"><div class="col-12" style="text-align: center;"">
            <!-- <input type="submit" value="" class="btn btn-lg btn-default" />     -->

<a class="btn btn-default btn-lg" href="javascript:{}" onclick="document.getElementById('form').submit();">
        {% trans 'Reset My Password' %}
    </a>

        </div></div>
        
    </form>
</div></div>

<div class="row"><div class="col">
    <br><br>
    <p>{% blocktrans %}Please <a href="mailto:info@tehiku.nz">contact us</a> if you have any trouble resetting your password.{% endblocktrans %}</p>
</div></div>


{% addtoblock 'js-end' %}
<script type="text/javascript">
$('#form').find('label').addClass('col-form-label col-sm-12 col-md-2');
$('#form').find('input').addClass('form-control');
$('#form').find('select').addClass('form-control');
$('#form input[type=submit').removeClass('form-control');
</script>
{% endaddtoblock %}


{% endblock account_content %}
