{% extends "account/base.html" %}

{% load i18n socialaccount sekizai_tags person %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block account_content %}
{% addtoblock 'css' %}
<style type="text/x-scss">
@import 'people/scss/login';
</style>
{% endaddtoblock %}
{% addtoblock 'css' %}
<style type="text/x-scss">
    body{
  color: black;
}
.btn{
  margin-top: 0px;
}
.socialaccount_providers{
  font-size: 1.2em;
  li{
    padding-top: 15px;
  }
}
</style>
{% endaddtoblock %}

<div class="row"><div class="col">
  <h1>{% trans "Sign Up" %}</h1> 
  <br>
</div></div>



<div class="row"><div class="col">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group row justify-content-end">
      {{ field.label_tag }}
      <div class="col-sm-12 col-md-12">{{ field }}</div>
      <div class="col-sm-12 col-md-12">{{ field.errors }}</div>
      {% if field.help_text %}
      <div class="col-sm-12 col-md-12">
      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
      </div>
      {% endif %}
  </div>
  {% endfor %}

  <div class="form-group row justify-content-center">
    <div class="col-12" style="text-align: center;">
      
      <button type="submit" >{% trans "Sign Up" %}</button>      
    </div>
  </div>

  </form>
</div></div>

{% get_person as person %}
{% addtoblock 'js-end' %}
<script type="text/javascript">
  
$('#signup_form').find('label').addClass('col-form-label col-sm-12 col-md-12');
$('#signup_form').find('input').addClass('form-control');
$('#signup_form').find('select').addClass('form-control');

$('#submit_choose_language_form').hide();

var email;
var username;
$(document).ready(function(){
  email = '{{person.email}}';
  username = '{{person.username}}'
  if (email != 'None'){
    var em_obj = $('#id_email').get(0)
    em_obj.value = email
  }
  if (username != 'None'){
    var username_obj = $('#id_username').get(0)
    username_obj.value = username
  }


})


</script>
{% endaddtoblock %}


  {% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="row"><div class="col">
  <b><p class="p-text-block">{% blocktrans %}You can also sign up with: {% endblocktrans %}</p></b>
  <div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
      {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}  
</div></div>
{% endif %}

<div class="row"><div class="col">
  <br>
<p>{% blocktrans %}Already have an account? <a id="login" href="/accounts/login/">Sign in</a>.{% endblocktrans %}</p>
</div></div>


{% addtoblock 'js-end' %}
<script type="text/javascript">
$('#login_form').find('input').addClass('form-control');
$('#login_form').find('select').addClass('form-control');
$('#login_form input[type=submit').removeClass('form-control');


$('#login').get(0).href = '/accounts/login/?' + window.location.href.split('?')[1]

</script>
{% endaddtoblock %}




{% endblock account_content %}