@import 'corpora/css/_colors';
@import 'corpora/css/_text';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


div.dashboard > div.row > div.col{
	padding-left: 0px;
	padding-right: 0px;
}

div.col.panel{
	z-index: 1000;
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    @include media-breakpoint-down(md) {
	    -ms-flex: 0 0 200px;
	    flex: 0 0 200px;
    }
    @include media-breakpoint-down(sm) {
	    -ms-flex: 0 0 150px;
	    flex: 0 0 150px;
    }
    @include media-breakpoint-down(xs) {
	    -ms-flex: 0 0 50px;
	    flex: 0 0 50px;
	    width: 0%;
    }
    div.panel{
		height: 100vh;
		background-color: #fff;
		border-right: 1px solid $brand_darkest;
		box-shadow: 0px 0px 1px 0px rgba(black, .5);
	}
}


div.col.viewport{
	width: 100px;
	div.viewport{
		height: 100vh;
		background-color: white;
		overflow-y: hidden;
		overflow-x: scroll;
	}

}

.nav{
    a{
    	color: $brand_darkest;
    }
    a:hover{
    	color: $brand_darkest;
    }	

    ul{
      width: 100%;
    }
    ul.bottom{
      bottom: 0;
      position: absolute;
    }

    .nav-brand{
      font-size: 1.1em;
      width: 100%;
      padding: 15px 10px;
      border-bottom: 1px solid $brand_darkest;
      text-align: center;
      background-color: $brand_darkest;
      box-shadow: -3px -2px 4px 1px black;
      color: white;
      @include media-breakpoint-down(sm) {
        font-size: .9em;
      }
      @include media-breakpoint-down(xs) {
        div{
        	display: none;
        }
      }      
      
    }
	a.nav-brand:hover{
    	color: $brand_primary;
	  }

    // background-color: $brand_primary;
	.nav-item:hover{
		background-color: #eee;
	}
	.nav-item.active{
		background-color: $brand_primary;
		// border-right: 3px solid white;
		a{
			color: white !important;
		}
	}



  .nav-item > .nav-link{
    text-align: left;
    font-size: 1em;
    padding-left: 0px;
    padding-right: 0px;
    padding: 15px 15px;
    border-bottom: 1px solid $brand_darkest;
    @include media-breakpoint-down(xs) {
      text-align: center;
      padding: 10px 10px;
    }

    @include media-breakpoint-down(sm) {
        font-size: .75em;
    } 

    i{
      display: inline-block;
    }

    div{
      display: inline-block;
      font-size: 1em;
      margin-left: 8px;
      @include media-breakpoint-down(xs) {
        display: none;
      }      
    }
  }

}
