@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';
@import '_colors';



.jumbotron{

	color: $brand_darkest;
	background-color: white;
	border: 1px solid #666;
	h1{
		color: $brand_darkest;
		font-size: 7em;
		font-weight: 900;
		// text-shadow: 2px 2px 0px white;
		@include media-breakpoint-down(md) {
			font-size: 5em;
		}
		@include media-breakpoint-down(sm) {
			font-size: 3.5em;
		}      
		@include media-breakpoint-down(xs) {
			font-size: 2.5em;
		}  
	}

}


.announcement{
	color: $brand_darkest;
	padding: 47px 15px;

	@include media-breakpoint-down(sm) {
		padding: 20px 5px;
	}

	h1{
		font-weight: 700;
		a{
			color: $brand_darkest;
		}
		a:hover{
			color: $brand;
		}
		@include media-breakpoint-down(sm) {
			font-size: 1.4em;
		}		
	}
	p{
		font-size: 1.3em;
	}
	img{
		width: 100%;
		border-radius: 8px;
		border: 1px solid #ddd;
		@include media-breakpoint-down(sm) {
			border-radius: 4px;
		} 		
	}

}