@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';
@import '_colors';

.jumbotron{

	color: $brand_darkest;
	background-color: white;
	border: 1px solid #666;
	padding: 64px 64px;
	margin-top: 30px;
	h1{
		color: $brand_darkest;
		font-size: 6.5em;
		font-weight: 900;
		// text-shadow: 2px 2px 0px white;
		@include media-breakpoint-down(lg) {
			font-size: 5.5em;
		}
		@include media-breakpoint-down(md) {
			font-size: 4.0em;
		}
		@include media-breakpoint-down(sm) {
			font-size: 2.8em;
		}      
		@include media-breakpoint-down(xs) {
			font-size: 2.2em;
		}  
	}
	@include media-breakpoint-down(lg) {
		padding: 54px 54px;
	}
	@include media-breakpoint-down(md) {
		padding: 42px 42px;
	}
	@include media-breakpoint-down(sm) {
		padding: 15px 15px;
		margin-top: 15px;
		margin-bottom: 15px;		
	}      
	@include media-breakpoint-down(xs) {
		padding: 10px 0px;
		margin-top: 15px;
		margin-bottom: 15px;
	} 	

}


.announcement{
	color: $brand_darkest;
	padding: 47px 15px;

	@include media-breakpoint-down(sm) {
		padding: 20px 5px;
	}

	h1{
		font-weight: 700;
		a{
			color: $brand_darkest;
		}
		a:hover{
			color: $brand;
		}
		@include media-breakpoint-down(sm) {
			font-size: 1.4em;
		}		
	}
	p{
		font-size: 1.3em;
	}
	img{
		width: 100%;
		border-radius: 8px;
		border: 1px solid #ddd;
		@include media-breakpoint-down(sm) {
			border-radius: 4px;
		} 		
	}

}