@import 'corpora/css/_colors';
@import 'corpora/css/_text';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


.xnav{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1em;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  a{
    color: $brand_darkest;
  }

  a:hover{
    color: $brand_primary;
  }


  div.brand{
    align-self: flex-start;
    font-size: 1.5em;
    flex-grow:2;
  }

  .xnav-link{
    padding-left: 30px;
  }
}

