{% extends 'people/email/base_email.html' %}
{% load static sekizai_tags i18n compress %}
{% block subject %}{{subject}}{% endblock %}


{% block heading %}
<h1>{{site.name}}</h1>
<h3>{% trans 'Weekly Progress' %}</h3>
{% endblock %}



{% block main    %}
{% compress css inline %}
<style type="text/x-scss">
@import 'corpora/static/corpora/css/_colors.scss';
h1{
    color: $brand_primary;
}
p, ul, li, td{
    font-family: 'Raleway', sans-serif;
}
li{
	list-style-type: none;
}
span{
	font-size: 1.5em;
	color: $brand_primary;
	font-weight: 700;
}
.btn{
	display: inline-block;
	padding: 8px;
	border-radius: 4px;
	background-color: $brand_primary;
	color: white;
	margin: 5px;
	font-weight: 400;
}
</style>
{% endcompress %}
<p>{% trans 'Hello'%} {{person}},</p>

<p>{% trans "Here's your current progress:" %}</p>

<ul>
<li><span>{{stats.total}}</span> {% trans 'recordings' %}</li>
<li>{% if 'seconds' in stats.dimension_string %}<span>{{stats.total_seconds}}</span> {{stats.dimension_string}}
   {% else %}<span>{{stats.total_minutes}}</span> {{stats.dimension_string}}{% endif %}</li>
<li><span>{{stats.num_approved}}</span> {% trans 'approved recordings' %}</li>
<li><span>{{stats.up_votes}}</span> {% trans 'thumbs up' %}</li>
<li><span>{{stats.down_votes}}</span> {% trans 'thumbs down' %}</li>

{% endblock %}



{% block footer  %}
<p>You've helped us collect more than <b>{{total_duration}} hours</b> of recordings.</p>
<em>Help us reach our goal of 400 hours by reading only 50 sentences each day.</em>
<div style="text-align: center;"><h3><a class='btn' href="{{url_append}}{% url 'corpus:record' %}">{% trans 'Record Sentences' %}</a></h3></div>
{% endblock %}