{% load static sekizai_tags compress sass_tags %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>corpora.io</title>

  {# Uses sekizai to load all css at start of page & compressor to minify it #}
  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

  {# CSS files to load and combine #}
  {% addtoblock "css" %}
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% sass_src 'corpora/css/main.scss' %}" rel="stylesheet" type="text/css" />
  {% endaddtoblock %}
  {% addtoblock "css" %}<link rel="stylesheet" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">{% endaddtoblock %}


{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/popper.js/dist/umd/popper.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'corpora/js/transitions.js' %}"></script>{% endaddtoblock %}

{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/popper.js/dist/umd/popper.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{% static 'corpora/js/transitions.js' %}"></script>{% endaddtoblock %}


</head>

<body>

  
  {% block navbuttons %}{% endblock %}

  <div class="content">
    {% block content %}
    {% endblock%}
  </div>

  {# Uses sekizai to load all js at end of page #}
  {% render_block "js" %}
  {% render_block "js-end" %}
</body>

</html>