  {% load static i18n url_filters %}
  <meta name="description" content="{{x_description}}" />

  <meta property="og:type"             content="website"/>
  <meta property="og:title"            content="{{x_title}}"/>
  <meta property="og:url"              content="{% get_request_url_relative %}" />
  <meta property="og:site_name"        content="{{request.site.name}}"/>
  <meta property="og:description"      content="{{x_description}}"/>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@tehiku" />
  <meta name="twitter:title" content="{{x_title}}" />
  <meta name="twitter:description" content="{{x_description}}" />
  <meta name="twitter:image" content="{{x_image}}" />