# pip # ensure we use the latest pip = we should update the BASE pip - not the virtual env one!

Django==1.11.24
boto
boto3
Pillow
Celery
django-celery-beat
flower #used to monitor Celery
django-compressor
django-libsass
libsass
# django-compressor-toolkit
django-sekizai
gunicorn
psycopg2
pycrypto
pytz
django-storages
django-bower
django-yarn

# Better static files stuff with CDNs
# whitenoise - mneed to look at django static files stuff

django-debug-toolbar

# changing social auth app
# certifi==2015.04.28
certifi
requests
django-allauth

django-ckeditor

simplejson

# Search
django-haystack
pysolr
celery-haystack

# Bindings for Memchaced
pylibmc
python-memcached # => move to this oen as it's thread safe?

# Django wrapper for AWS SES (Simple Email Service)
django-ses

# Used to turn CSS to inline styles
# Also used in email
lxml
premailer

# API
djangorestframework
# API Docs
django-coreapi
pygments
markdown==2.6.11 # set to this version until DRF supports 3.0

# Autocomplete
django-autocomplete-light==3.2.10

#Support
pyyaml

# Transcription
# To calculate wer from speech api
# jiwer - requires python 3
jellyfish==0.6


# Analytics
django-analytical


Collectfast

django-cors-headers


# Tests
tox
