@import '_colors.scss';
@import '_text.scss';



.jumbotron div[class*='col']{
	text-align: center;
}
.sub-header-text{
	color: $darker;
}
.content{
	background-color: $background_light;
	color: $darker;
}

h1,h2,h3,h4{
	color: $darkest;
}

div[class*='-card']{
	border: 0px solid $lightest;
	font-size: 18px;
	line-height: 28px;	
	//box-shadow: 0px 0px 4px $darkest;
}

div[class*='-card'] > p{
	font-size: 18px;
	line-height: 28px;
}

div[class*='-card'] > p:first-child{
	margin: 20px 0px 20px 0px;	
}

div[class*='-card'] > p.dropcase:first-child:first-letter { 
	float: left; 
	color: $dark; 
	font-size: 64px; 
	font-weight: 700;
	line-height: 0px; 
	padding: 33px 10px 34px 8px; 
	margin: 10px 10px 0px 0px;
	font-family: $header-font;
	display: block;
	background-color: $light;
}

div[class*='-card'] > div {
	margin-top: 30px;
	border-top: 1px solid $dark;
}

div[class*='-card']  h2 {
	font-size: 1.25em;
	padding: 10px 0px 20px 0px;
}

div[class*='-card']  .button{
	margin-top: 0px;
}


.footer{
	background-color: darken($darker, 10%);
	color: $lighter;
	font-size: 14px;
	padding: 30px 0px 30px 0px;
}

.footer h4{
	color: lighten($lightest, 20%);
}

.footer a{
	color: $lighter;
}

.footer a:hover{
	text-decoration: underline;
}

