@import '_colors';
@import '_text';
@import '_custom_bootstrap';
@import '_browser_style_changes';

body {
	background-color: $darkest;
	color: $darkest
}
a {
	text-decoration: none;
	color: $brand_primary;
}

a:visited, a:active, a:hover {
	text-decoration: none;
}

a:hover {
	color: $brand_light;
}

div.content{
	background-color: $background_light;
	// padding: 30px 0px 30px 0px;
}


// Buttons
.banner {
	background-color: $default;
    box-shadow: 0px 2px 10px black;
}

.btn {
	// background-color: $brand_complement;
	// color: $lightest;
	text-align: center;
	text-decoration: none;
	border: none;
	padding: 8px 15px;
	margin-top: 20px;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
	outline: none;
}

.btn-default {
	background-color: $brand_complement;
	color: lighten($brand_complement_lightest, 10%);
	outline: none;
	border-color: $brand_complement_dark;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}


.open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
	background-color: $dark;
	color: $lighter !important;
	outline: none;
	border-color: $dark;
	box-shadow: 0 0 2px rgba(0,0,0,0.15);
}


.btn-group .btn {
	box-shadow: none;
}

.btn-default:hover, .btn-default:hover {
	background-color: $brand_complement_dark;
	color: $brand_complement_lightest;
	border-color: $brand_complement_darker;
	text-decoration: none;
	// transform: scale(1.05, 1.05);
	// box-shadow: 0 0 10px rgba(0,0,0,0.5);
	
}

.btn-default:active, .btn-default:focus{
	background-color: $brand_complement_darker;
	outline: none;
	box-shadow: none;
}


// Special text
.sub-header-text {
	color: $dark;
	font-size: 18px;
}

.error-message, .errorlist {
	animation: error-flash .5s ease-in;
	color: $light;
	margin: 0px;
}

@keyframes error-flash {
	from { background-color: $lightest; color: $lighter; }
	to { background-color: none; color: $light; }
}


// Input forms

/*

input[type="text"], input[type="password"], input[type="email"] {
	margin: 0;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	background-color: transparent;
	border: none;
	padding: 20px 20px 2px 5px;


	border-bottom: solid 2px $dark;
	transition: border 0.2s;
	
	font-size: 20px;
	color: $dark;
}

.input-form:focus,
.input-form.focus {
	border-bottom: solid 2px $default;
	outline: none;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
	border-bottom: solid 2px $default;
	outline: none;
	color: $default;
}

@mixin placeholder(){
   color: $light;
   opacity: 0.5;
}

::-webkit-input-placeholder {
	@include placeholder();
}
*/
/*
:-moz-placeholder { 
	@include placeholder();
}

::-moz-placeholder {  
	@include placeholder(); 
}

:-ms-input-placeholder {  
	@include placeholder();
}



// Smooth transitions between content
.pt-perspective {
	position: relative;
	perspective: 1200px;
	transform-style: preserve-3d;
}

.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	backface-visibility: hidden;
	transform: translate3d(0,0,0);
}

.pt-page-current {
	visibility: visible;
}

.pt-page-fadeOut {
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	opacity: 0;
}

.pt-page-moveToLeft {
	animation: moveToLeft .6s ease both;
}

.pt-page-moveFromLeft {
	animation: moveFromLeft .6s ease both;
}

.pt-page-moveToRight {
	animation: moveToRight .6s ease both;
}

.pt-page-moveFromRight {
	animation: moveFromRight .6s ease both;
}


@keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@keyframes moveToRight { 
	from { }
	to { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); }
}

*/