@import '_colors';
@import '_text';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

.navbar{
    .container{
      .navbar-nav{
        flex-wrap: wrap;
      }
    }
    .navbar-brand{
      font-size: 1.2em;
      @include media-breakpoint-down(sm) {
        font-size: .9em;
      }
    }

    background-color: $brand_primary;

  .nav-item > .nav-link{
    text-align: center;
    font-size: .9em;
    @include media-breakpoint-down(md) {
      // font-size: .7em;
      padding-left: 8px;
      padding-right: 8px;
    }
    @include media-breakpoint-down(sm) {
      // font-size: .7em;
      padding-left: 6px;
      padding-right: 6px;
    }
    @include media-breakpoint-down(xs) {
      // font-size: .7em;
      padding-left: 4px;
      padding-right: 4px;
    }


    i{
      display: inline-block;
    }
    div{
      display: inline-block;
      font-size: .8em;

      @include media-breakpoint-down(md) {
        display: block;
      }
      @include media-breakpoint-down(sm) {
        font-size: .75em;
      }      
      @include media-breakpoint-down(xs) {
        display: none;
      }      
    }
  }


  .dropdown-menu{

    a{
        color: $brand_dark;
        font-size: .8em;
     }
     li{
      margin-left: 15px;
      margin-right: 15px;
     }

     right: 0;
     left: auto;
  }



}