{% extends 'people/competition/base.html' %}
{% load i18n static sekizai_tags compress  %}

{% block content %}

{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

div.content{
  padding: 15px 0px 15px 0px;
}
div.col.table{
  overflow-x: auto;
}
</style>
{% endaddtoblock %}



<div class="container">
  <div class="row">
    <div class="col table">

<h1>{{group.name}} Leaderboard</h1>

{% if valid_members %}
<table class="table" id='stats-table'>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Username' %}</th>
      <th scope="col">{% trans 'Recordings' %}</th>
      <th scope="col">{% trans 'Score' %} <small>[beta]</small></th>
    </tr>
  </thead>
  <tbody>


{% for person in valid_members %}
<tr>
  <th scope="row">{{ forloop.counter }}</th>
  <td>

      {% if person.leaderboard %}
        {% if person.username in '' %}
          Anonymous Peruperu
        {% else %}{{person.username}}
        {% endif %}
      {% else %}
        Anonymous Peruperu
      {% endif %}
  </td>

  </td>
  <td>{{person.num_recordings}}</td>
  <td>{{person.score}}</td>
</tr>
{% endfor %}

</tbody>
</table>
{% else %}
{{valid_members}}
<p>No valid members in this group.</p>
{% endif %}



{% if invalid_members %}
<h1>Invalid Members</h1>
<p>The following members need to verify their email addresses or they belong to more than one group. 
<b><em>These user's scores will not contribute to {{group}} scores.</em></b></p>
<table class="table" id='stats-table'>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Username' %}</th>
      <th scope="col">{% trans '# Groups' %}</th>
      <th scope="col">{% trans 'Email Verified?' %}</th>
    </tr>
  </thead>
  <tbody>
{% for person in invalid_members %}
<tr>
  <th scope="row">{{ forloop.counter }}</th>
  <td>

      {% if person.leaderboard %}
        {% if person.username in '' %}
          Anonymous Peruperu
        {% else %}{{person.username}}
        {% endif %}
      {% else %}
        Anonymous Peruperu
      {% endif %}

  </td>
  <td>{{person.num_groups}} </td>
  <td>{{person.verified}} </td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
    </div>
  </div>
</div>

{% endblock %}