{% extends 'people/stats/base.html' %}
{% load static sekizai_tags compress i18n cache math_filters %}

{% block title %}{{x_title}}{%endblock%}
{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


div.hidden-columns{
  display: inline-block;

  div.show-me{
    display: inline-block;
  }

  div.hide-me{
    display: none;
  }
}

</style>
{% endaddtoblock %}

{% cache 600 groupsleaderboard request.path request.GET.urlencode %}

<div class="container">
  <div class="row">
    <div class="col table">
    <h1 style="text-align: center; font-weight: 900;">Group Leaderboard</h1>
    <p><span  class="text-decoration: underline;">Data updated
      approximately every 10 minutes</span></p>
    <div class='hidden-columns'>
      <div class="hide-me">{% trans '#' %}
        <i class="far fa-fw fa-plus-square" onclick="toggleColumn(this);"></i>
      </div>
      <div class="hide-me">{% trans 'Group' %}
        <i class="far fa-fw fa-plus-square" onclick="toggleColumn(this);"></i>
      </div>
      <div class="hide-me">{% trans 'Members' %}
        <i class="far fa-fw fa-plus-square" onclick="toggleColumn(this);"></i>
      </div>
      <div class="hide-me">{% trans 'Recordings' %}
        <i class="far fa-fw fa-plus-square" onclick="toggleColumn(this);"></i>
      </div>
      <div class="hide-me">{% trans 'Score' %}
        <i class="far fa-fw fa-plus-square" onclick="toggleColumn(this);"></i>
      </div>
      <div class="hide-me">{% trans 'Total Duration' %}
        <i class="far fa-fw fa-plus-square" onclick="toggleColumn(this);"></i>
      </div>      
    </div>
<div class="table"><table class="table" id='stats-table'>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Group' %}</th>
      <th scope="col"><a href="?sort_by={% if '-members' in path %}members{% else %}-members{% endif %}">{% trans '# Members' %}
        {% if 'members' in path %}<i class="far fa-fw {% if '-members' in path %}fa-sort-numeric-up{% elif 'members' in path %}fa-sort-numeric-down{% endif %}"></i>{% endif %}</a>
        <i class="far fa-fw fa-times-square" onclick="toggleColumn(this);"></i>

      </th>
      <th scope="col"><a href="?sort_by={% if '-num_recordings' in path %}num_recordings{% else %}-num_recordings{% endif %}">{% trans 'Recordings' %}
        {% if 'num_recordings' in path %}<i class="far fa-fw {% if '-num_recordings' in path %}fa-sort-numeric-up{% elif 'num_recordings' in path %}fa-sort-numeric-down{% endif %}"></i>
        {% endif %}</a>
        <i class="far fa-fw fa-times-square" onclick="toggleColumn(this);"></i>
      </th>
      <th scope="col">
        <a href="?sort_by={% if '-score' in path %}score{% else %}-score{% endif %}">{% trans 'Score' %} 
        {% if 'score' in path %}<i class="far fa-fw {% if '-score' in path %}fa-sort-numeric-up{% elif 'score' in path %}fa-sort-numeric-down{% endif %}"></i>
        {% endif %}</a>
        <i class="far fa-fw fa-times-square" onclick="toggleColumn(this);"></i>
      </th>
      <th scope="col">
        <a href="?sort_by={% if '-duration' in path %}duration{% else %}-duration{% endif %}">{% trans '% Duration' %} 
        {% if 'duration' in path %}<i class="far fa-fw {% if '-duration' in path %}fa-sort-numeric-up{% elif 'duration' in path %}fa-sort-numeric-down{% endif %}"></i>
        {% endif %}</a>
        <i class="far fa-fw fa-times-square" onclick="toggleColumn(this);"></i>
      </th>
      <th scope="col">
        <a href="?sort_by={% if '-review_rate' in path %}review_rate{% else %}-review_rate{% endif %}">{% trans '% Reviewed' %} 
        {% if 'review_rate' in path %}<i class="far fa-fw {% if '-review_rate' in path %}fa-sort-numeric-up{% elif 'review_rate' in path %}fa-sort-numeric-down{% endif %}"></i>
        {% endif %}</a>
        <i class="far fa-fw fa-times-square" onclick="toggleColumn(this);"></i>
      </th>
      <th scope="col">
        <a href="?sort_by={% if '-approval_rate' in path %}approval_rate{% else %}-approval_rate{% endif %}">{% trans '% Approved' %} 
        {% if 'approval_rate' in path %}<i class="far fa-fw {% if '-approval_rate' in path %}fa-sort-numeric-up{% elif 'approval_rate' in path %}fa-sort-numeric-down{% endif %}"></i>
        {% endif %}</a>
        <i class="far fa-fw fa-times-square" onclick="toggleColumn(this);"></i>

      </th>

    </tr>
  </thead>
  <tbody>
{% for g in groups %}
<tr>
  <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
  <td><a href="{% url 'competition_group' g.pk %}">{{g.name}}</a></td>
  <td>{{g.size}}</td>
  <td>{{g.num_recordings}}</td>
  <td>{{g.score}}</td>
  <td>{{g.duration|divide:3600|floatformat:1}}</td>
  <td>{{g.review_rate|divide:0.01|floatformat:0}}%</td>
  <td>{{g.approval_rate|divide:0.01|floatformat:0}}%</td>
</tr>
{% endfor %}
</tbody>
</table></div>
    </div>
  </div>

<div class="row">
  <div class="col">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


  </div>
</div>
</div>

{% endcache %}


{% addtoblock 'js-end' %}
<script type="text/javascript">
var path = '{{path|safe}}'
var query_dict = {}
var base_url = "{{request.path}}"

$(document).ready(function(){
  
  queries = path.split('?')[1].split('&')
  
  for (var i=0; i<queries.length; i++){
    parts = queries[i].split('=')
    query_dict[parts[0]] = parts[1]
  }

  $('div.pagination, div.table').find('a').each(function(a,b){
    try {
      q_parts =  b.getAttribute('href').split('?')[1].split('=')
      var key = q_parts[0]
      var value = q_parts[1]
      
      q_parts = []
      for (var dkey in query_dict){
        if (dkey == key){
          s = dkey + '=' + value 
        } else{
          s = dkey + '=' + query_dict[dkey]  
        }
        
        q_parts.push(s)
      }

      b.setAttribute('href', base_url + "?" + q_parts.join('&'))
    } catch (e){
      // console.log(e)
      // console.log(b.getAttribute('href'))
      // console.log(b)
    }
  })
})

</script>
{% endaddtoblock %}


{% addtoblock 'js-end' %}
<script type="text/javascript">


  function toggleColumn(target){
    var td_column = parseInt($(target.parentNode).index()) 
    var th_column = td_column + 1
    console.log(td_column)
    console.log(th_column)
    $('td:nth-of-type('+ td_column +')').toggle();
    $('div.hidden-columns > div:nth-of-type('+ th_column +')').toggleClass('show-me');
    $('div.hidden-columns > div:nth-of-type('+ th_column +')').toggleClass('hide-me');
    $('th:nth-of-type('+th_column+')').toggle();
    // $(target).toggleClass('hidden-column')

    // $(target).toggleClass('fa-minus-square')
    // $(target).toggleClass('fa-plus-square')

  }


</script>
{% endaddtoblock %}

{% endblock %}