{% extends 'people/competition/base.html' %}
{% load static sekizai_tags compress i18n cache person %}

{% block title %}{{x_title}}{%endblock%}
{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


</style>
{% endaddtoblock %}

{% comment %}
{% cache 600 userleaderboard request.path request.GET.urlencode %}
{% endcomment %}
<div class="container">
  <div class="row">
    <div class="col">
<h1 style="text-align: center; font-weight: 900;">Leaderboard <SMALL>[Preliminary Results]</SMALL></h1>
<p><small>This leaderboard shows the number of recordings and reviews others have done and an individual user's scores.
Scores update approximately every 10 minutes.</small></p>
<div class="table"><table class="table" id='stats-table'>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Username' %}</th>
      <th scope="col">{% trans 'Reviews' %}</th>
      <th scope="col">{% trans 'Recordings' %}</th>
      <th scope="col">{% trans 'Score' %} <small>[beta]</small></th>
    </tr>
  </thead>
  <tbody>
{% for person in people %}
{% if person.leaderboard %}
<tr>
  <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
  <td>{{person|username}}</td>
  <td>{{person.num_reviewed}}</td>
  <td>{{person.num_recordings}}</td>
  <td>{{person.score}}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table></div>
    </div>
  </div>

<div class="row">
  <div class="col">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


  </div>
</div>


</div>

{% comment %}
{% endcache %}
{% endcomment %}
{% endblock %}