{% extends 'people/competition/base.html' %}
{% load static sekizai_tags compress i18n cache person %}

{% block title %}{{x_title}}{%endblock%}
{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


</style>
{% endaddtoblock %}

{% cache 600 request.user.is_staff request.user.is_authenticated userleaderboard request.path request.GET.urlencode %}

<div class="container">
  <div class="row">
    <div class="col">
<h1 style="text-align: center; font-weight: 900;">Leaderboard</h1>
<p><small>This leaderboard shows the number of recordings and reviews others have done and an individual user's scores.
Data are update approximately every 10 minutes.</small></p>
<div class="table"><table class="table" id='stats-table'>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{% trans 'Username' %}</th>
      {% if request.user.is_staff and request.user.is_authenticated %}<th scope="col">{% trans 'UUID' %}</th>{% endif %}
      {% if request.user.is_staff and request.user.is_authenticated %}<th scope="col">{% trans 'EMAIL' %}</th>{% endif %}
      <th scope="col">{% trans 'Recordings' %}</th>
      <th scope="col">{% trans 'Reviews' %}</th>
      <th scope="col">{% trans 'Score' %} <small>[beta]</small></th>
    </tr>
  </thead>
  <tbody>
{% for person in people %}
{% if person.leaderboard %}
<tr>
  <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
  <td>{{person|username}}</td>
  {% if request.user.is_staff and request.user.is_authenticated %}<td>{{person.uuid}}</td>{% endif %}
  {% if request.user.is_staff and request.user.is_authenticated %}<td>{{person|email}}</td>{% endif %}
  <td>{% if competition %}{{person.num_recordings_comp}}{% else %}{{person.num_recordings}}{% endif %}</td>
  <td>{% if competition %}{{person.num_reviews_comp}}{% else %}{{person.num_reviews}}{% endif %}</td>
  <td>{% if competition %}{{person.score_comp}}{% else %}{{person.score}}{% endif %}</td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table></div>
    </div>
  </div>

<div class="row">
  <div class="col">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


  </div>
</div>


</div>


{% endcache %}

{% endblock %}