{% extends 'people/stats/base.html' %}
{% load static sekizai_tags compress i18n cache %}

{% block title %}{{x_title}}{%endblock%}
{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';



</style>
{% endaddtoblock %}


<div class="container">
  <div class="row">
    <div class="col ">
      <h1>Mahi Tahi Growth Rate</h1>
      {% for g in groups %}
      <div class="row" >
        <div class="col"><p><h3>{{g.growth_rate|floatformat:0}} : {{g.name}}</h3></p></div>
      </div>
      {% endfor %}
    </div>
  </div>

<div class="row">
  <div class="col">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
</div>



{% addtoblock 'js-end' %}
<script type="text/javascript">
var path = '{{path|safe}}'
var query_dict = {}
var base_url = "{{request.path}}"

$(document).ready(function(){
  
  queries = path.split('?')[1].split('&')
  
  for (var i=0; i<queries.length; i++){
    parts = queries[i].split('=')
    query_dict[parts[0]] = parts[1]
  }

  $('div.pagination, div.table').find('a').each(function(a,b){
    q_parts =  b.getAttribute('href').split('?')[1].split('=')
    var key = q_parts[0]
    var value = q_parts[1]
    
    q_parts = []
    for (var dkey in query_dict){
      if (dkey == key){
        s = dkey + '=' + value 
      } else{
        s = dkey + '=' + query_dict[dkey]  
      }
      
      q_parts.push(s)
    }

    b.setAttribute('href', base_url + "?" + q_parts.join('&'))

  })
})

</script>
{% endaddtoblock %}


{% addtoblock 'js-end' %}
<script type="text/javascript">


  function toggleColumn(target){
    var td_column = parseInt($(target.parentNode).index()) 
    var th_column = td_column + 1
    console.log(td_column)
    console.log(th_column)
    $('td:nth-of-type('+ td_column +')').toggle();
    $('div.hidden-columns > div:nth-of-type('+ th_column +')').toggleClass('show-me');
    $('div.hidden-columns > div:nth-of-type('+ th_column +')').toggleClass('hide-me');
    $('th:nth-of-type('+th_column+')').toggle();
    // $(target).toggleClass('hidden-column')

    // $(target).toggleClass('fa-minus-square')
    // $(target).toggleClass('fa-plus-square')

  }


</script>
{% endaddtoblock %}

{% endblock %}