{% load static sekizai_tags  i18n %}

{% if license %}

{% addtoblock "js-end" %}
<script type="text/javascript">
$(document).ready(function(){

  $.ajax({
    url: '/api/accept_license/',
    type: 'GET',
    dataType: 'json'
  }).done(function(response){
    
    if (response.results.length == 0){
      $('#accept-license').modal()
      $('#accept-license').on('hidden.bs.modal', function (e) {
        $('#accept-license').modal('show')
      })
    }

  }).fail(function(){
    $('#accept-license').modal('hide')
    $('#error-modal').modal()
    $('#error-modal').on('hidden.bs.modal', function (e) {
      $('#error-modal').modal('show')
      window.location='/'
    })
  })
})

var load_click = '<i class="fas fa-circle-notch fa-spin fa-3x fa-fw fa-lg"></i><span class="sr-only">{% trans "Loading..." %}</span>'

cancel_license_button.addEventListener('click',function(event){
  console.log(event)
  event.target.disabled=true
  event.target.innerHTML = load_click
  window.location = "/listen"
})

accept_license_button.addEventListener('click',function(event){
  $('#accept-license').off()

  event.target.disabled=true
  event.target.innerHTML = load_click
  $.ajax({
    url: '/api/accept_license/',
    type: 'POST',
    dataType: 'json'
  }).done(function(response){
    $('#accept-license').modal('hide')
  }).fail(function(){
    $('#accept-license').modal('hide')
    $('#error-modal').modal()
    $('#error-modal').on('hidden.bs.modal', function (e) {
      $('#error-modal').modal('show')
      window.location='/'
    })
  })


})

</script>
{% endaddtoblock %}
{% addtoblock 'css' %}
<style type="text/x-scss">
  .modal .modal-footer .row{
    text-align: center;
    width: 100%;
    margin: 0px;
    button{
      font-size: 1em;
      cursor: pointer;
      svg, i{
        font-size: 1.2em;
      }
    }
  }
</style>
{% endaddtoblock %}

<div class="modal fade" id="accept-license" tabindex="-1" role="dialog" aria-labelledby="Accept License" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{license.license_name|title}} {% trans "License" %}</h5>
      </div>
      <div class="modal-body">
        {% if license.license_display %}{{license.license_display|safe}}{% else %}{{license.description|safe}}{% endif %}
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-12" title="You must accept the above {{license.name|title}} license to continue.">
            {% blocktrans %}You must accept the above {{license.name|title}} license to continue.{% endblocktrans %}
          </div>
            
          <div class="col-12">
            <button type="button" class="btn btn-secondary" id="cancel_license_button" title="Cancel - you won't be able to contribute recordings">
              {% trans "Cancel" %}</button>
            <button type="button" class="btn btn-default" id="accept_license_button" title="Accept">
              {% trans "Accept" %}</button>
          </div>
        </div>
      </div>    
    </div>
  </div>
</div>

<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="Accept License" aria-hidden="false">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{% trans "Woops" %}</h5>
      </div>
      <div class="modal-body">
        {% trans "Something went wrong. Please try again later or refresh your browser." %}
      </div>  
    </div>
  </div>
</div>

{% endif %}