{% extends 'people/competition/base.html' %}
{% load static sekizai_tags compress i18n cache %}

{% block title %}{{x_title}}{%endblock%}
{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


div.col.table{
  overflow-x: auto;
}

a.ropu{
  display: inline-block;
  padding: 4px 8px;
  border-radius: 2px;
  background-color: $brand_light;
  color: white;
  margin-right: 8px;
  margin-top: 8px;
  color: white;
}
.ropu:hover{
  background-color: $brand;
}
.ropu:active{
  background-color: $brand_dark;
}
.fa-layers-text{
  color: $brand_light;
   font-weight: 500;
}
h3{
  margin-top: 15px;
  font-weight: 700;
  color: $brand_darkest;
}

</style>
{% endaddtoblock %}

{% cache 300 competition %}

<div class="container">

  <div class="row">
    <div class="col">
      <h1>Hopu Kōrero Māori Competition</h1>
    </div>
  </div>

  <div class="row ">
    <div class="col">
        <h3>Starts 1pm 15 March - Ends 6pm 25 March</h3>
        <p>Win cash 💰 your rōpū by reading sentences during the Hopu Kōrero Māori Group Competition. 
          Your group needs at least 7 members, and your members need to 
          <a href="{% url 'account_signup' %}">create an account</a> and
          verify their email address. Join a group by adding your group to your 
          <a href="{% url 'people:profile' %}">profile</a>. Don't forget to check out the 
          <a href="{% url 'rules' %}">{% trans 'rules' %}</a></p>

        <h3 style="padding-top: 15px;">Qualifying Groups</h3>
        <p>You need at least 7 people in your group to qualify.</p>
        <p>{% for g in qualified %}<a class="ropu" href="{% url 'competition_group' g.pk %}">{{g}}</a>{% endfor %}</p>

        <h3 style="padding-top: 15px;">Groups</h3>
        <p>These groups need more people to quality.</p>
        <p>{% for g in not_qualified %}<a class="ropu" href="{% url 'competition_group' g.pk %}">{{g}}</a>{% endfor %}</p>

    </div>
  </div>

</div>

{% endcache %}

{% endblock %}