@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


@mixin style-action-button($color, $class_name){

    a.#{$class_name}{
      border-color: $color;
      color: $color;
      -webkit-tap-highlight-color: rgba($color, .5);
    }
    a.#{$class_name}.checked{
      background-color: $color;
      color: lighten($color,100%);
    }     
    a.#{$class_name}:active{
      background-color: darken($color, 6%);      
      color: white;
    }
}

.actions, .buttons{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 5px;
    }
    a{
      font-size: 1.3em;
      display: inline-block;
      padding: 12px;
      border: 1px solid red;
      border-radius: 4px;
      text-shadow: 0px 1px 1px rgba($brand_darkest,0);
      color: $brand_primary;
      margin: 4px;

      @include media-breakpoint-down(md) {
        font-size: 1.1em;
        padding: 9px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 0.9em;
        padding: 6px;
        margin: 2px;
      }    

      -webkit-tap-highlight-color: rgba($brand_primary,.5);

    }
    a:hover{
      
    }
    a:active{
      text-shadow: 0px 0px 1px rgba($brand_dark,0);
      background-color: rgba($brand_dark, 1);
      color: lighten($brand_lightest,10%);
    }

    i{
      font-weight:100;      
    }


    a.auto-play.auto-play-on, a.on{
      background-color: $brand_primary;
      color: $brand_lightest;
    }

    a.disabled, a.disabled:hover, a.disabled:active{
      border-color: rgba(gray,.5) !important;
      background-color: $background_light !important;
      cursor: default !important;
      color: rgba(gray,.5) !important;
      -webkit-tap-highlight-color: rgba(white, 0); 
    }

    a.off{
      display: none;
    }

    a.toggle-after-playback.checked{
      text-shadow: 0px 0px 1px rgba($brand_dark,0);
      background-color: rgba($brand_dark, 1);
      color: lighten($brand_lightest,10%);
    }

    @include style-action-button($green, "approve")
    @include style-action-button($blue, "save")
    @include style-action-button($yellow, "star")
    @include style-action-button($brand_darker, "bad")
    @include style-action-button($green, "good")
    @include style-action-button($brand_darkest, "delete")
    @include style-action-button($brand_primary, "noise")
    @include style-action-button($brand_primary, "follow-up")

    @include style-action-button($brand_primary, "auto-play")

    @include style-action-button($blue, "help")



    .action-group{
      margin-bottom: 8px;
    }

    .noborder{
      border: 0px;
      padding: 6px 6px;
      margin: 0;
      font-size: 1.8em;
      @include media-breakpoint-down(md) {
        font-size: 1.6em;
      }
      @include media-breakpoint-down(sm) {
        font-size: 1.3em;
      }


    }
    .noborder.checked{
      background: none;
    }

  }