@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


.actions, .buttons{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      text-align: center;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 5px;
    }
    a{
      font-size: 1.3em;
      display: inline-block;
      padding: 12px;
      border: 1px solid red;
      border-radius: 4px;
      text-shadow: 0px 1px 1px rgba($brand_darkest,0);
      color: $brand_primary;
      margin: 4px;

      @include media-breakpoint-down(md) {
        font-size: 1.1em;
      }
      @include media-breakpoint-down(sm) {
        font-size: 0.8em;
      }

      -webkit-tap-highlight-color: rgba($brand_primary,.5);

    }
    a:hover{
      
    }
    a:active{
      text-shadow: 0px 0px 1px rgba($brand_dark,0);
      background-color: rgba($brand_dark, 1);
      color: lighten($brand_lightest,10%);
    }

    i{
      font-weight:100;      
    }

    a.good{
      color: $brand_dark;
      border-color: $brand_dark;
      color: $brand_dark;
      -webkit-tap-highlight-color: rgba($brand_dark, .5);
    }

    a.good:active{
      background-color: rgba($brand_dark, 1);
      color: lighten($brand_lightest,10%);
      
    }
    a.bad{
      border-color: $brand_darker;
      color: $brand_darker;
      -webkit-tap-highlight-color: rgba($brand_darker, .5);
    }
    a.bad:active{
      background-color: rgba($brand_darker, 1);
      color: lighten($brand_lightest,10%);
    }    
    
    a.approve{
      border-color: $green;
      color: $green;
      -webkit-tap-highlight-color: rgba($green, .5);      
    }
    a.approve:active{
      background-color: rgba($green, 1);
      color: lighten($brand_lightest,10%);
      
    }    
    a.save{
      border-color: $blue;
      color: $blue;
      -webkit-tap-highlight-color: rgba($blue, .5);
    }
    a.save:active{
      background-color: rgba($blue, 1);      
      color: lighten($brand_lightest,10%);
    }     

    a.auto-play.auto-play-on, a.on{
      background-color: $brand_primary;
      color: $brand_lightest;
    }

    a.disabled, a.disabled:hover, a.disabled:active{
      border-color: rgba(gray,.5) !important;
      background-color: $background_light !important;
      cursor: default !important;
      color: rgba(gray,.5) !important;
      -webkit-tap-highlight-color: rgba(white, 0); 
    }

    a.off{
      display: none;
    }



  }