{% load static sekizai_tags compress analytical i18n %}<!DOCTYPE html>
<html lang="en">
<head>
  {% analytical_head_top %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- <meta name="viewport" content="width=device-width" /> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  {% block meta %}{% include 'corpora/meta.html' %}{% endblock %}

  <title>{% block title %}{{request.site.name}}{% endblock %}</title>

  {# Uses sekizai to load all css at start of page and compressor to minify it #}
  {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,700i,800,900" rel="stylesheet">
  {# CSS files to load and combine #}
  {% addtoblock "css" %} {% endaddtoblock %}
  {% addtoblock "css" %}<link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />{% endaddtoblock %}

  {% addtoblock "css" %}
    <style type="text/x-scss">      
    @import 'reo_api/scss/main.scss';
    @import 'reo_api/scss/nav_dashboard.scss';
    @import 'reo_api/scss/dashboard.scss';
    </style>
  {% endaddtoblock %}  

  {% addtoblock "js-include" %}<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js-include" %}<script type="text/javascript" src="{% static 'corpora/js/transitions.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js-include" %}<script type="text/javascript" src="{% static 'bower_components/popper.js/dist/umd/popper.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js-include" %}<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>{% endaddtoblock %}
  {% addtoblock "js-include" %}<script type="text/javascript" src="{% static 'third_party/fontawesome-pro/js/all.js' %}"></script>{% endaddtoblock %}
  
  {% render_block "js-include" %}
  {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}

  {% analytical_head_bottom %}
</head>

<body>
  {% analytical_body_top %}


<!--   <div class="header">{% block header %}{% endblock %}</div>
  
  <div class="footer">{% block footer %}{% endblock %}</div>
 -->
  <div class="container-fluid dashboard">
    <div class="row">
      <div class="col panel">
        <div class="panel">
          {% block navbuttons %}{% endblock %}
        </div> 
        <div class="collapse-button active">
          <i class="fal fa-fw fa-bars fa-lg"></i>
          <i class="fal fa-fw fa-chevron-left fa-lg"></i>
        </div>     
      </div>
      <div class="col viewport">
        <div class="viewport">
          <div class="content">{% block content %}{% endblock %}</div>
        </div>
      </div>
    </div>
  </div>
  
  {% addtoblock 'js-end' %}

  <script type="text/javascript">
    
    $('.collapse-button').on('click', function(event){
      var elm = event.delegateTarget;
      if ($(elm).hasClass('active')){
        $(elm).removeClass('active')
        $(elm.parentNode).addClass('active')
      } else{
        $(elm).addClass('active')
        $(elm.parentNode).removeClass('active')
      }
    })


  </script>

  {% endaddtoblock %}

  {# Uses sekizai to load all js at end of page #}
  



  {% render_block "js-end" %}
  {% analytical_body_bottom %}
</body>

</html>