@import 'corpora/css/colors';
@import 'corpus/css/record';
@import 'corpus/scss/actionButtons';
@import 'corpus/scss/sentences';
@import 'people/scss/profile';

@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';


div.col.viewport div.viewport{
  overflow-x: hidden;
}

div.player{
  background-color: rgba($brand_darkest, .7);
  color: white;
  padding: 15px;
  // font-size: 2em;
  display: flex;
  flex-direction: row;
  height: 64px;
  div{
    height: 100%;
    flex-grow: 0;
    padding: 0px 15px;
    svg{
      height: 100%;
    }
    
  }
  .pause{
    display: none;
  }

  div.progress{
    flex-grow: 1;
    padding: 0px;
    border: 1px solid #ddd;
    z-index: 2;
    // background: none;
    .position{
      background-color: rgba($brand_darkest, .9);
      height: 100%;
      width: 0%;
      padding: 0px;
      z-index:1
    }
  }
  span{
    font-size: 12px;
    font-family: sans-serif;
    line-height: 34px;
  }
  
}


div.topbar{
  width: 100%;
  z-index: 2;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;

  .name{
    padding: 10px;
    margin: 5px 30px;
    display: inline-block;
    @include media-breakpoint-down(xs) {
      margin-left: 45px;
    }
  }    

    
  box-shadow: 0px -2px 4px 1px black;
}

div.audio{
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: white;
  audio{
    display: none;
  }

}
.segments{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-bottom: 80px;
  padding-top: 80px;
  .segment{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-family: monospace;
    color: #333;
    font-size: 1.8em;
    .time{
      text-align: right;
      a{
        color: $brand_dark;
      }
      @include media-breakpoint-down(sm) {
        font-size: .8em;
        line-height: 2em;
 
      }
      @include media-breakpoint-down(xs) {
        font-size: .6em;
        line-height: 2em;

      }      
    }

    .text{
      font-family: monospace;
      color: #333;
    }

  }

  .segment.active{
    background-color: rgba(113, 102, 106, 0.07);
    -webkit-box-shadow: 0px 9px 12px 0px rgba(0,0,0,0.53);
    box-shadow: 0px 9px 12px 0px rgba(0, 0, 0, 0.24);
    transition: background-color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    border: 1.5px solid #a72147;
    border-left: 0px;
    border-right: 0px;
  }


}

select {
  width: fit-content;
  -moz-appearance: window;
  -webkit-appearance: none;
  text-align: center;
  outline: none;
  font-family: sans-serif;
  font-size: .8em;
  padding: 0px 6px;
}

.select {
  bottom: 20%;
  display: block;
  position: relative;
  bottom: -5px;
}

select:hover {
  color: #000000;
  background: rgb(255, 255, 255);
  }
