@import 'corpora/css/colors';
@import 'corpus/css/record';
@import 'corpus/scss/actionButtons';
@import 'corpus/scss/sentences';
@import 'people/scss/profile';

@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

div.content{
  /*padding: 60px 0px 60px 0px;*/
}

div.col.viewport div.viewport{
  // height: 100vh;
  flex-wrap: nowrap;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.viewport div.container-fluid > div.row > div.col{
  padding: 0px;
  
}

.viewport-header{
  display: none;
  div.row{
    div.col{
      // height: 5vh;
      min-height: 24px;
      font-size: 5vh;
      display: flex;
      justify-content: center;
      margin: auto;
      h1{
        // height: 50%;
        padding: 5px;
        font-size: 50%;
        align-self: center;
        font-weight: 700;
      }
      @media screen and (max-height: 560px){
        h1{
          font-size: 14px;
        }
      }
      @media screen and (min-height: 1280px){
        h1{
          font-size: 32px;
        }
      }      
    }
  }
  border-bottom: 1px solid black !important;
}

.viewport-title{
  div.row{
    justify-content: center;
    div.col{
      margin-top: 15px;
      justify-content: flex-end;
      max-width: 1200px;
      display: flex;
    }
  }
  @media screen and (max-width: 1415px){
    .btn-toolbar{
      padding-right: 15px;
    }
  }  
}
.viewport-body{
  > div.row{
    padding: 0px 15px;
    > div.col{
      overflow-x: hidden;
      overflow-y: hidden;
      max-width: 1200px;
      margin: 0px auto;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      > div.row:nth-child(2n){
        background-color: rgba(0,0,0,.05);
      }
      > div.row:hover{
        background-color: rgba(0,0,0,.075);
      }

      > div.row{
        margin: 0;
        div[class*='col-']{
          padding: 15px;
          div.row{
            margin: 0;
            background: none;
            border: none;
            @include media-breakpoint-down(md) {
              font-size:1em;
            }
            @include media-breakpoint-down(xs) {
              font-size:.8em;
            }               

          }
          div[class*='col-']{
            padding: 0px;
            background: none;
            border: none;
          }
          // margin: 10px;
        }
        div[class*='col-']:nth-child(2){
          border: none
        }
        @include media-breakpoint-down(xs) {
          div[class*='col-']:nth-child(2){
            padding-left: 0px;
          }
        }
        @include media-breakpoint-down(lg) {
          div[class*='col-']:nth-child(3){
            padding-top: 0px;
            // margin: 10px;
          }
          div[class*='col-']{
            padding: 10px;
            .btn-sm{
              padding: .15rem .4rem
            }
          }
          
        }


        font-size: 1.2em;
        white-space: nowrap;
        color: $brand_darkest;
        // 1px solid #dee2e6
        border: 1px solid #dee2e6;
        border-top: 0px;
        a[x-data-action]{
          // font-size: 1.1em;
          // margin-left: 8px;
        }

        div.dropdown{
          display: inline-block;
          a{
            color: $brand_darkest;
          }
        }

        @include media-breakpoint-down(lg) {
          div.dropdown{
            display: block;
            padding-top: 5px;
          }
        }


      }

      > div.row:first-of-type{
        font-weight: 600;
        font-size: 0.9em;
      }

      div.row:last-of-type{
        border-bottom: 0px;
      }


    }
  }

}
.viewport-footer{
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 15px;

  @media screen and (max-width: 1415px){
    nav{
      padding-right: 15px;
    }
  }

}

.table-container{
  max-width: 1000px;
  text-align: center;
  float: center;
}

.table-responsive{
 


}




.btn-dark{
  background-color: $brand_dark;
  border-color: $brand_darker;
}

.btn-dark:hover{
  background-color: $brand_dark;
}

.btn-light{
  background-color: $brand_primary;
  color: white;
}

.btn-light:hover{
  background-color: $brand_dark;
  color: white;  
  border-color: $brand_darker;
}

a{
  color: $brand_darker;
}
a:hover{
  color: $brand_primary;
}

div.topbar{  
  width: 100%;
  z-index: 2;
  background-color: white;
  width: 100%;
  > div{
    position: relative;
    height: 100%;
    div.row{
      height: 100%;
      margin: 0;
      div.col{
        text-align: center;
        .name{
          padding: 10px;
          margin: 5px 0px;
          display: inline-block;
          h2{

          font-weight: 600;
          @include media-breakpoint-down(md) {
            font-size:1.2em;
          }
          @include media-breakpoint-down(sm) {
            font-size:1.1em;
          }
          @include media-breakpoint-down(xs) {
            font-size:1em;
          } 


          }
 

        }    
      }
    }
  }
}

div.add_file{
  position: absolute;
  bottom: 0px;
  right: 0;
  margin-bottom: 30px;
  margin-right: 30px;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 36px;
  text-align: center;
  color: white;
  background-color: $brand_primary;
  vertical-align: middle;
  box-shadow: 2px 2px 16px 0px rgba($brand_darkest, .5);
  a{
    color: white;
    i{
    vertical-align: middle;
    }
  }
  svg{
    vertical-align: middle;
    height: 52%;
    top: 24%;
  }
}

div.add_file:hover{
  cursor: pointer;
}

div.add_file:active{
  margin-bottom: 29px;
  margin-right: 29px;
  box-shadow: 1px 1px 4px 0px rgba($brand_darkest, .5);  
}


@include media-breakpoint-down(xs) {

div.add_file{
  margin-bottom: 27px;
  margin-right: 27px;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  font-size: 33px;
  box-shadow: 2px 2px 16px 0px rgba($brand_darkest, .5);
}

div.add_file:active{
  margin-bottom: 26px;
  margin-right: 26px;
  box-shadow: 1px 1px 4px 0px rgba($brand_darkest, .5);  
}

}





.page-link{
  color: $brand_primary;
}
.page-link:hover{
  color: $brand_primary;
}

.page-item.active .page-link{
  color: white;
  background-color: $brand_dark;
  border-color: $brand_dark;
}












