{% load static sekizai_tags compress i18n %}




<form method="post" action="{% url 'people:choose_language' %}?next=people:profile" id="choose_language_form">
{% csrf_token %}
{{ known_language_form.management_form }}
    <div class="row ">
    {% for form in known_language_form %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 formset-form {% if known_languages < forloop.counter and not form.errors %}add-inline-item hidden{% endif %}">


    {% if known_languages == 0 %}
    <div class="alert alert-info  alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
     You must add at least one language to continue.
    </div>
    {% elif forloop.counter > 1 %}
    

    {% endif %}
    <div class="formset-form-wrapper">

    {% if  form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{form.non_field_errors}}
    </div>
    {% endif %}
        
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    <div >
    {% for field in form.visible_fields %}

        <div class="form-group row justify-content-end">
          

            {% if field.name == 'DELETE' %}

              {% comment %}

                {% if known_languages >= forloop.parentloop.counter %}
                <div style="display: none;">{{ field }}</div>
                <button type="submit" class="btn btn-default btn-sm" onclick="$('form[id=choose_language_form] input[id={{field.id_for_label}}]').attr('checked', true);" >
                    <i class="fa fa-fw fa-lg fa-trash"></i>
                    <div class=" hidden-xs">{% trans 'Delete' %}</div>
                </button>
                {% endif %}
              {% endcomment %}
            
            {% elif field.name == 'language' %}

                {% if known_languages >= forloop.parentloop.counter and field.value %}
                {% get_language_info for field.value as lang %}
                
                {{ field.label_tag }} 
                <div class="col-sm-12 col-md-12" >
                    <select id="{{field.id_for_label}}" name="{{field.html_name}}">
                        <option value="{{field.value}}" selected="selected">{{ lang.name_translated }}</option>
                    </select>
                </div>
                {% else %}

                {{ field.label_tag }} 
                <div class="col-sm-12 col-md-12">
                    <select id="{{field.id_for_label}}" name="{{field.html_name}}">                
                        <option value=""{% if field.value == lang_code %} selected{% endif %}>---------</option>
                        {% for lang_code in unknown_languages %}
                        {% get_language_info for lang_code as lang %}
                        <option value="{{ lang_code }}"{% if field.value == lang_code %} selected{% endif %}>{{ lang.name_translated }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% endif %}


            {% else %}

                {{ field.label_tag }}
                <div class="col-sm-12 col-md-12">{{ field }}</div>

            {% endif %}

            {% if field.errors %}<div class="col-sm-12 col-md-12"><div class="alert alert-danger" role="alert">{{ field.errors }}</div></div>{% endif %}
        
    </div>
    {% endfor %}
    </div>
    

    </div></div>
    {% endfor %}
    </div>

    
    <div class="row"><div class="col-12 " style="text-align: center;">
    <!-- <input id="submit_choose_language_form" type="submit" value="Save Language" class="btn btn-default btn-lg"> -->

    <a id="submit_choose_language_form" class="btn btn-default btn-lg" href="javascript:{}" onclick="submit_form();">
        {% trans 'Save' %}
    </a>


    </div></div>
    


</form>

{% addtoblock 'js-end' %}<script type="text/javascript">

var submit_form = function(){
    {% if just_signup_track %}fbq('track', 'CompleteRegistration');{% endif %}
    document.getElementById('choose_language_form').submit();
}

</script>{% endaddtoblock %}


{% addtoblock 'js-head' %}
{% if just_signup_track %}
<!-- Global site tag (gtag.js) - Google AdWords: 957072996 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-957072996"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-957072996');
</script>
<!-- Event snippet for Register conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-957072996/0FZBCLyXzX0Q5IyvyAM'});
</script>
{% endif %}
{% endaddtoblock %}
