{% extends 'people/base.html' %}
{% load static %}
{% load sekizai_tags %}
{% load compress %}
{% load i18n %}



{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
div.content{
  padding: 30px 0px 30px 0px;
}
</style>
{% endaddtoblock %}

<div class="container">

{% include 'people/choose_language_form.html' %}

{% addtoblock 'js-end' %}
<script type="text/javascript">
$('#choose_language_form').find('label').addClass('col-form-label col-sm-12 col-md-12');
$('#choose_language_form').find('input').addClass('form-control');
$('#choose_language_form').find('select').addClass('form-control');
$('#submit_choose_language_form').removeClass('form-control');
</script>
{% endaddtoblock %}


{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'corpora/css/inline_forms.scss' %}">
{% endaddtoblock %}


{% addtoblock "js" %}
    <script type="text/javascript" src="{% static 'corpora/js/inline_forms.js' %}"></script>
    <script type="text/javascript">
        
$(document).ready( function(){



$('.add-inline-item').each(function(){
    var self = this

    var card_wrapper =  $(self).find('.formset-form-wrapper')[0]
    var wrapper = $("<div class='inline-form-wrapper hidden' id=''></div>")
    var icon = $("<div class='button'><i class='fa fa-fw fa-lg fa-plus'></i> Add another language. </div>")


    $(card_wrapper).children().appendTo(wrapper);
    $(wrapper).appendTo(card_wrapper);
    $(icon).appendTo(card_wrapper);
    $(self).removeClass('hidden')

    
    $(icon).on('click touch', function(){
        $(wrapper).children().appendTo(card_wrapper);
        $(wrapper).remove();
        $(icon).remove();
        $(self).removeClass('add-inline-item')
    });

    {% if not known_languages %}
    $(icon).click();
    {% endif %}

});



});


    </script>
{% endaddtoblock %}

</div>
{% endblock %}