{% extends 'corpora/base.html' %}

{% load static %}
{% load sekizai_tags %}
{% load compress %}

{% block content %}
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col"></div>
      <div class="col demographics">

        <form method="post" id="demographic_form"> {%csrf_token%}
          {% for field in form %}
              <div class="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }} {{ field }}
                  {% if field.help_text %}<small class="text-muted">{{ field.help_text|safe }}</small>{% endif %}
              </div>
          {% endfor %}
          <input type="submit" value="Submit" class="button">

                    
        </form>
      </div>
      <div class="col"></div>
  </div>
</div>


{% addtoblock 'js-end' %}
{{ form.media }}
{% endaddtoblock %}


{% addtoblock 'js-end' %}
<script type="text/javascript">
  
$('#demographic_form').find('label').addClass('col-form-label');
$('#demographic_form').find('input').addClass('form-control');
$('#demographic_form').find('select').addClass('form-control');

</script>
{% endaddtoblock %}


{% endblock %}