{% extends 'corpus/base.html' %}
{% load static sekizai_tags compress i18n %}


{% block title %}People Email List{% endblock %}

{% block content %}
{% addtoblock "css" %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

div.content{
  padding: 15px 0px 15px 0px;
}
div.col.table{
  overflow-x: auto;
}
</style>
{% endaddtoblock %}


<div class="container">

  
  <div class="row">
    <div class="col table">
      <form action="{% url 'people:email_list' %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Send emails NOW" />
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col table">

{% for person in people %}

{% if person.email %}

{% if person.full_name %}

"{{ person.full_name }}"&nbsp;&lt;{{ person.email}}&gt;,<br>

{% else %}

{{ person.email}},<br>

{% endif %}
{% endif %}

{% endfor %}


    </div>
  </div>


  <div class="row">
    <div class="col">
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
      </div>
    </div>
  </div>

  
</div>




{% endblock %}