{% load static sekizai_tags sass_tags i18n %}

{% addtoblock 'css' %}
<style type="text/x-scss">
@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

.container.name{
  margin-top: -40px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(gray, .5);

  h4{
    @include media-breakpoint-down(md) {
      font-size: 1.2em;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1em;
    }
    small{
      margin-left: 15px;
      font-size: .7em;
    }
  }
}
</style>
{% endaddtoblock %}

<div class="container name" >
  <div class="row">
    <div class="col" >
      {% if person.full_name %}
        <h4>{{person.full_name}}</h4><small>Not you?
        {% if user.is_authenticated %}
          <a href="{% url 'account_logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'account_login' %}">Login</a> or help us further by
          <a href="{% url 'account_signup' %}">signing up</a>.
        {% endif %}</small>
      {% else %}
        <h4>Anonymous Kumara</h4><small>
        {% if user.is_authenticated %}
          Edit your profile
          <a href="{% url 'account_logout' %}">Profile</a>
        {% else %}
          Help us further by <a href="{% url 'people:profile' %}">editing</a> your profile or
          <a href="{% url 'account_signup' %}">signing up</a>.
        {% endif %}</small>
      {% endif %}
    </div>
  </div>
</div>