@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/mixins/breakpoints';

@mixin a-sign-in-with-button($color){
    display: inline-block;
    background-color: $color;
    padding: 0px;
    border-radius: 2px;
    position: relative;
    height: 40px;
    align-content: center;
    border: 1px solid $color;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
    width: 100%;
    max-width: 150px;
}

@mixin div-sign-in-with-icon($icon_url, $color){

  display: inline-block;
  /*background-image: url($icon_url);*/
  /*background-size: 18px 18px;*/
  /*background-position: 50% 50%;*/
  /*background-repeat: no-repeat;*/
  width: 38px;
  height: 38px;
  line-height: 38px;
  /*background-color: $color;*/
  float: left;
  color: white;
  /*border-radius: 2px;*/

}

@mixin div-sign-in-text($color, $font){
  color: $color;
  line-height: 38px;
  float: left;
  font-size: 14px;
  padding: 0px 15px 0px 0px;
  font-weight: 400;
  overflow: hidden;
  font-family: $font;
}

@mixin a-sign-in-hover($color){
  background-color: $color;
  border-color: $color;
}

@mixin a-sign-in-active($color){
  top: 1px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
  background-color: $color;
  border-color: $color;
}

@mixin div-sign-in-hover-icon($color){
  background-color: $color;

}
@mixin div-sign-in-active-icon($color){
  background-color: $color;

}

.error, .errorlist{
  color: $brand_primary;
  font-weight: 500;
}

div.sociallogin{
  display: inline-block;
}
div.sociallogin a{
  
  /*margin-right: 15px;*/
}

div.login-or{
  /*margin: 15px 0px;*/
}

a.sign-in.facebook { @include a-sign-in-with-button($brand_primary); }
a.sign-in.google   { @include a-sign-in-with-button($brand_primary); }


a.facebook.sign-in > div.facebook.icon{ @include div-sign-in-with-icon('/static/accounts/img/FB-f-Logo__white_100.png', $brand_primary);  }
a.google.sign-in > div.google.icon{ @include div-sign-in-with-icon('/static/accounts/img/google_logo.svg', #fff);  }

$font: 'Roboto', 'Raleway', sans-serif;

a.sign-in.google > div.text.google{  @include div-sign-in-text(#fff,$font); }
a.sign-in.facebook > div.text.facebook{  @include div-sign-in-text(#fff, $font); }


a.sign-in.facebook:hover { @include a-sign-in-hover(darken($brand_primary, 5%)); }
a.sign-in.google:hover { @include a-sign-in-hover(darken($brand_primary, 5%)); }

a.sign-in.facebook:active { @include a-sign-in-active(darken($brand_primary, 10%)); }
a.sign-in.google:active { @include a-sign-in-active(darken($brand_primary, 10%)); }

a.sign-in:hover > div.icon.facebook { @include div-sign-in-active-icon( darken($brand_primary, 5%)); }
a.sign-in:active > div.icon.facebook { @include div-sign-in-active-icon( darken($brand_primary, 10%)); }


div.login div{
  text-align: center;
}



form {
  input:not([type='checkbox']){
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $brand_darkest;
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    color: $brand_darkest;    
  }
  input[type='checkbox']{
  }

  >div.fieldWrapper{
    margin-top: 15px;
    margin-bottom: 15px;
  }

  >div.fieldWrapper:last-of-type{
    margin-bottom: 0px;
  }

  label{
    display: none;
    max-width: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }
  
  ul{
    max-width: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }

}


  button{
    @include a-sign-in-with-button($brand_primary);
    background-color: $brand_primary;
    display: inline-block;
    /*padding: 5px 10px;*/
    border: 0px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    padding: 0px;
  }
  button:hover{
    background-color: darken($brand_primary, 5%);
  }
  button:active{
    @include a-sign-in-active( darken($brand_primary, 10%));
    outline: none;
  }  
  button:focus{
    outline: none;
  }

::-webkit-input-placeholder {
   color: $brand_primary;
}

:-moz-placeholder { /* Firefox 18- */
   color:  $brand_primary;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  $brand_primary;  
}

:-ms-input-placeholder {  
   color:  $brand_primary;  
}

