@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

.profile{


  margin-top: 15px;


  div{
    font-weight: 300;
    span{
      font-weight: 700;
    }
  }



}