@import 'corpora/css/colors';
@import 'bower_components/bootstrap/scss/functions';
@import 'bower_components/bootstrap/scss/mixins';
@import 'bower_components/bootstrap/scss/variables';

.profile{


  margin-top: 15px;


  div{
    font-weight: 300;
    label{
      font-weight: 700;
    }
  }



}

.col-form-label{
	font-weight: 700;
}


input.invalid{
	border: 2px solid red !important;
  border-color: #900 !important;
  background-color: #FDD !important;
}

// input:focus:invalid {
//   outline: none;
// }